.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: {
    image: url('http://southparkstudios.mtvnimages.com/shared/locations/busstop.jpg');
    repeat: no-repeat;
    size: cover;
  }
  font-size: 14px;
}
