@font-face {
  font-family: 'SouthPark';
  src: url('../../assets/south park.ttf');
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: {
    image: url('http://southparkstudios.mtvnimages.com/shared/locations/busstop.jpg');
    repeat: no-repeat;
    size: cover;
  }
  font-family: 'SouthPark', Arial, Helvetica, sans-serif;
  font-size: 14px;
}
